.venv/
test.py
__pycache__/Helper.cpython-312.pyc
__pycache__/Environment.cpython-312.pyc
__pycache__/Helper.cpython-312.pyc
__pycache__/Environment.cpython-311.pyc
__pycache__/Helper.cpython-311.pyc
